@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #eaebf3;
  margin: 40px;
}

.header {
    color: #2A2A2D;
  text-align: center;
  margin-bottom: 32px;
}

.header h1 {
    margin-bottom: 8px;
}

.gallery {
  display: grid;
  /* 화면 너비에 따라 열의 개수와 크기를 자동으로 조절 */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.gallery-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(40, 42, 44, 0.1);
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: translateY(-6px) rotate(0.8deg);
}

.gallery-item img {
    width: 100%;
    height: 300px; 
    display: block;
    object-fit: cover; 
}

.caption {
  padding: 20px;
  text-align: center;
}

.caption h4 {
  margin: 0 0 6px 0;
  font-size: 24px;
  color: #2A2A2D;
}

.caption p {
  margin: 0;
  font-size: 0.9em;
  color: #2a2a2d9d;
}