@charset "UTF-8";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.title {
    width: 100%;
    text-align: left;
    padding-left: 80px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 88px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #147af7;
}

.component-link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: inherit;
}

.num-circle {
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: #147af7;
    border: 1px solid #147af7;
    transition: background-color 0.3s;
}

.num-text {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #ffffff;
    padding-bottom: 8px; 
    transition: color 0.3s;
}

.profile-link {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #147af7;
}

.profile-link:hover {
    text-decoration: underline;
}

.component-link:hover .num-circle {
    background-color: #ffffff;
    border-color: #147af7;
}

.component-link:hover .num-circle .num-text {
    color: #147af7;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    min-height: 840px;
    position: relative;

    background-image: url(img/jellyfish_svg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-left {
    position: absolute;
    left: 10%;
    top: 15%;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    gap: 112px
}

.nav-right {
    position: absolute;
    right: 10%;
    bottom: 15%;
    align-items: flex-end;
    flex-direction: column;
    display: flex;
    gap: 152px;
}